[submodule "sentry-native/sentry-native"]
	path = sentry-native/sentry-native
	url = git@github.com:getsentry/sentry-native.git
[submodule "CppSharp/CppSharp"]
	path = CppSharp/CppSharp
	url = https://github.com/mono/CppSharp.git
